## 점프투파이썬 2장 이어서

#3절 리스트

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print(123)

123

# 리스트 만들기

In [3]:
#빈 리스트
a = []
a

[]

In [4]:
b = [1,2,3]

In [5]:
c = ["life","is","too","short"]
c

['life', 'is', 'too', 'short']

In [7]:
d = [1,2,"life","is","too","short"]
d

[1, 2, 'life', 'is', 'too', 'short']

In [8]:
e = [1,2,["life","is"]]

# 리스트의 인덱싱

In [11]:
a = [0,5] # 공간 상 첫째부터 다섯번째까지
a

[0, 5]

In [12]:
a = [1,2,3]
a

[1, 2, 3]

In [13]:
a[1]

2

In [14]:
a[-1]

3

In [15]:
e

[1, 2, ['life', 'is']]

In [16]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [18]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [20]:
b = a[0:2]
b

[1, 2]

In [22]:
b = a[:2]
b

[1, 2]

# 리스트의 연산자

In [25]:
#하나의 값 수정
a[1] = 5
a

[1, 5, 'b', 3, 4, 5]

In [23]:
#연속된 범위값 수정
a[1:2]

[2]

In [24]:
a[1:2] = ['a','b']
a

[1, 'a', 'b', 3, 4, 5]

In [27]:
a[2] = ['a','b','c']
a

[1, 5, ['a', 'b', 'c'], 3, 4, 5]

In [30]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [31]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [32]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [33]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [36]:
#리스트 정렬
a = [1,5,2,4,3]
a.sort()
a

[1, 2, 3, 4, 5]

In [37]:
# 리스트 뒤집기
a = [1,3,4,5,2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [38]:
#위치 반환
a = [1,2,3]
a.index(3)
# 3의 위치는?

2

In [39]:
# 리스트의 요소 삽입
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [41]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 3]

In [42]:
#리스트 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [43]:
#리스트 요소 꺼내기
a = [1,2,3]
a.pop()

3

In [44]:
a

[1, 2]

In [45]:
# 요소 개수 세기
a = [1,2,3,1]
a.count(1)

2

In [46]:
#리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [47]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

### 튜플

In [48]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = ('a','b')
print (t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

### 딕셔너리

In [49]:
dic = {'name':'권혜민','phone':'01012345678'}

In [51]:
print(dic)

{'name': '권혜민', 'phone': '01012345678'}

In [52]:
dic = {'name':'권혜민','name':'홍길동'}

In [53]:
dic['name']

'홍길동'

In [55]:
# 키가 뭐뭐 있니?
dic.keys()

dict_keys(['name'])

In [56]:
# 값이 뭐뭐 있니?
dic.values()

dict_values(['홍길동'])

### 불 자료형(bool)

In [57]:
# T / F
# True / False
3>1

True

In [59]:
1 > 3

False

In [60]:
if []:
    print("참")
else:
    print("거짓")

거짓

## 3장 제어문

### if 문

In [64]:
money = 0 #돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어 가야해ㅠㅠ")

걸어 가야해ㅠㅠ

In [ ]:
# 기본구조
if 조건문 :
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spavebar 4번

In [65]:
money = 2000 # 내 돈
if money >= 3000:
    print("택시타자")
else:
    print("걸어가자")

걸어가자

In [66]:
money = 2000
card = 1 #카드가 있다.
if money >= 3000 or card:
    print("택시타자")
else:
    print("걸어가자")

택시타자

In [67]:
pocket = ['paper','handphone','card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가자")

택시 타자

In [68]:
#elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걸어가자")

택시

In [ ]:
# elif 구문
if <조건문>1
    수행문장1
    수행문장2
elif<조건문>1
    수행문장1
elif<조건문>1
    수행문장1
elif<조건문>1
    수행문장1
else:
    수행문장